html
    head
        script.
            // Google Tag Manager
            (function(w,d,s,l,i){w[l] = w[l] || [];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZ2TJ2');
            //End Google Tag Manager
        title Santi van den Toorn
        // Materialize and Fontawesome
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='styles/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', type='image/png', href='https://postimg.org/image/8c17ifa0f/', sizes='32x32')
        link(rel='icon', type='image/png', href='https://postimg.org/image/m6zi0w4fj/', sizes='16x16')
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WZ2TJ2', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        include includes/nav.jade
        .container
            .row
                .col.s0.m1
                .col.s12.m6.right-align
                    p.heading Santi van den Toorn
                    p.text.no-top-margin Ik ben een idealistisch gemotiveerde analytische denker. IT-geletterd, tech-savvy maar met een grote passie voor het menselijke. Zowel technisch als sociaal opgeleid heb ik een holistische en inclusieve blik op een breed spectrum aan (maatschappelijke) onderwerpen. Ik werk als ZZP-er voor projecten waar ik in geloof en voel een diepe passie voor feminisme (gender), duurzaamheid (water) en persoonlijke ontwikkeling. Ik haal energie uit mensen motiveren en strijden voor waar ik in geloof.
                    | Voor meer informatie lees verder,&nbsp;
                    a#cv-link(href="http://www.santivandentoorn.com/CV_Santi.pdf", target="_blank") bekijk mijn cv,&nbsp;
                    | of bekijk mijn&nbsp;
                    a(href="http://watdoetsanti.tilda.ws", target="_blank") portfolio.
                    p.social-icons
                        a#linkedin-icon(
                        href='https://nl.linkedin.com/in/santi-van-den-toorn-99378020',
                        target='new'
                        )
                            i.fa.fa-linkedin(aria-hidden='true')
                        a#github-icon(
                        href='https://github.com/santivdt',
                        target='new'
                        )
                            i.fa.fa-github(aria-hidden='true')
                        a#mail-icon(
                        href='mailto:santivdt@gmail.com?subject=I visited your website')
                            i.fa.fa-envelope-o(aria-hidden='true')
                        span.tooltip
                            a#cv-icon(
                            href='http://www.santivandentoorn.com/CV_Santi.pdf',
                            target='_blank'
                            )
                                i.fa.fa-file-text-o(aria-hidden='true')
                            span.tooltiptext
                .col.s12.m4.img
                    img.photo-santi(src="http://santivandentoorn.com/Santitutu%202.jpg")

            // IN DE MEDIA
            //.row.logo.center-align.hide-on-med-and-down
            //    a.media(href="https://dezwijger.nl/programma/stille-revolutie-van-vrouwelijke-leiders" target="_blank")
            //        img.logo(src="http://bontebuurtgenoten.nl/wordpress/wp-content/uploads/2015/11/d616a123-b87c-29f3-1894-7d9795c970a5-banner.jpg")
            //    a.media(href="http://www.ad.nl/politiek/meer-vrouwen-in-de-kamer-stem-neniacute-et-op-de-eerste-vrouw-op-de-lijst~ad58d780/" target="_blank")
            //        img.logo(src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/New_Logo_AD.jpg/266px-New_Logo_AD.jpg")
            //    a.media(href="http://www.nporadio2.nl/gemist/uitzending/240449/6-1-2017" target="_blank")
            //        img.logo(src="https://stemopeenvrouw.com/wp-content/uploads/2017/01/NPO_Radio_2_logo.svg_.png")
            //    a.media(href="https://nieuws.nl/algemeen/20170208/nederland-wordt-bekeken-oogpunt-man/" target="_blank")
            //        img.logo(src="http://santivandentoorn.com/img/nieuws.png")
            //    a.media(href="https://www.nrc.nl/nieuws/2017/06/09/scheurtjes-in-de-deeleconomie-11007185-a1562397" target="_blank")
            //        img.logo(src="http://wegaanzehalen.nl/wp-content/uploads/2016/11/logoNRC.png")


            //SKILLS
            .row
                .row.s12.no-mb
                    h2.right-align Social engineer
                .row.s12.no-margin
                    .col.s12.m5
                        img.skills(src="http://www.santivandentoorn.com/img/santi-afrika.jpg")
                        p.caption Foto:&nbsp;
                            a(href="http://www.bartbrouwerphotography.com" target="_blank") Bart Brouwer
                    .col.s12.m7
                        p.text.nm-top In mijn bachelor Civiele Techniek aan de TU Delft wekte vooral water en sanitatie mijn interesse. Dit heb ik in mijn master International Development Studies (UvA) gecombineerd met een meer sociale invalshoek; ik onderzocht de
                            a.read-thesis(href="http://www.santivandentoorn.com/thesis-santi-van-den-toorn.pdf" target="_blank") &nbsp; acceptatie van water- en sanitatietechnologi&euml;n in sloppenwijken in Zuid-Afrika.
                            | &nbsp;Ik begeef mij graag op het snijvlak van technologie en het sociale en denk over hoe techniek kan bijdragen aan een beter wereld mits juist ge&iuml;mplementeerd.
            .row
                .col.s12.m7
                    h2 Activist
                    p.text
                    | Als mede-oprichter van &nbsp;
                    a#sov-website(href="http://www.stemopeenvrouw.com" target="_blank") Stichting Stem op een Vrouw &nbsp;
                    | maak ik mij sterk voor emancipatie en representatie van vrouwen in de politiek. Rondom de Tweede Kamerverkiezingen van 2017 wisten wij ruim 1.5 miljoen mensen te bereiken met onze boodschap en werden wij massaal opgepikt door landelijke en lokale media.
                    p.text
                    |Met mijn andere stichting&nbsp;
                    a#bovengrondse(href="http://www.debovengrondse.nl" target="_blank") De Bovengrondse
                    | &nbsp;creeeren wij een platform om te activeren, informeren en te verbinden. O.a.
                    a(href="http://www.santivandentoorn.com/wildplas.html", target="_blank") &nbsp;Wildplasgate,
                    |&nbsp;
                    a(href="https://rodehoed.nl/zoeken/?q=schoonheidssalon&subscribe=#", target="new") De Schoonheidssalon &nbsp;
                    |en &nbsp;
                    a(href="http://www.meervrouwopstraat.tilda.ws", target="new") #meervrouwopstraat &nbsp;
                    |kwamen van onze hand.
                .col.s12.m5.hide-on-med-and-down
                    img.skills(src="http://www.santivandentoorn.com/img/santi-activist.jpg")
                    p.caption Foto:&nbsp;
                        a(href="https://www.instagram.com/dionnecats/" target="_blank") Dionne Cats
            .row
                .col.s12.m5.hide-on-med-and-down
                    img.skills(src="http://www.santivandentoorn.com/img/santi-programmeur.jpg")
                .col.s12.m7
                    h2 IT specialist
                    p.text Ik bouw al sinds ik 11 ben websites. Toen nog in notepad en louter HTML. Ondertussen heb ik ervaring als front-end developer, scrummaster, productowner en als leidinggevende bij grote migratietrajecten . Ik spreek de taal van de programmeurs en van de &quot;salesboys&quot; en ben in staat deze twee vlekkeloos met elkaar te laten communiceren. Ik denk vanuit de gebruiker en vertaal dit naar technische functionaliteiten die programmeurs begrijpen en kunnen bouwen.
                        a(href="http://www.santivandentoorn.com/it") &nbsp;Lees meer over mijn ervaring in de IT.
            .row
                .col.s12.m7
                    h2 Minimalist
                    p.text Altijd een lege inbox, maar 50 kledingstukken en heel veel ruimte in huis. Het minimalisme brengt mij nog steeds elke dag rust, inspiratie en een stressvrij bestaan. Het zorgt ervoor dat ik effici&euml;nt werk, veel ruimte heb voor zaken die ik &eacute;cht belangrijk vind en minder consumeer. Ik ben gepassioneerd minimalist en vertel graag anderen over de voordelen van een minimalistisch bestaan. Ook ondersteun ik mensen bij hun eigen traject om te kijken hoe zij de basisprincipes van het minimalisme in hun leven kunnen toepassen en wat dit voor hen kan betekenen.&nbsp;
                        a#minimalisme-website(href="http://www.deontspuller.com" target="_blank") Meer weten?
                .col.s12.m5
                    img.skills(src="http://www.santivandentoorn.com/minimalisme/img/minimalist.jpg")
            .row
                .col.s12
                    h2 Tijdslijn
                    .row.no-margin
                        .col.m1.date 12/2018
                        .col.m9.cv
                            p.title.no-margin-top
                                a(href="http://www.freepressunlimited.org", target="_blank") FreePressUnlimited -&nbsp;
                                | Digital security and e-learning expert
                            p.cv Afronding van een zestal online modules voor o.a. journalisten en human rights defenders om te leren over digitale veiligheid.
                    .row.no-margin
                        .col.m1.date 03/2017 - now
                        .col.m9.cv
                            p.title.no-margin-top
                                | Bookaroo - CTO & Co-founder
                            p.cv Management, ontwerp en ontwikkeling van het platform. Komt online in februari 2019.
                    .row.no-margin
                        .col.m1.date 07/2018
                        .col.m9.cv
                            p.title.no-margin-top
                                a(href="https://www.espressionals.com/" target="_blank") Espressionals -&nbsp;
                                | IT Consultancy
                            p.cv Advies m.b.t. setup en uitvoering van een nieuw platform voor Coffee Concepts.
                    .row.no-margin
                        .col.m1.date 06/2018
                        .col.m9.cv
                            p.title.no-margin-top
                                a(href="http://www.hetdanspaleis.com" target="_blank") Het Danspaleis -&nbsp;
                                | Crowdfunding G(r)ay Pride
                            p.cv Opzetten, uitvoeren en bijhouden van de crowdfunding campagne omtrent Pride.
                    .row.no-margin
                        .col.m1.date 06/2018
                        .col.m9.cv
                            p.title.no-margin-top
                                a(href="http://www.debovengrondse.tilda.ws" target="_blank") De Bovengrondse -&nbsp;
                                | Straatnamenactie
                            p.cv Opzetten en uitdenken van de landelijke straatnamen actie. Zoals gezien in&nbsp;
                                a(href="https://www.parool.nl/amsterdam/feministen-dopen-rokin-om-tot-beyonce-boulevard~a4602578/", target="_blank") Het Parool,&nbsp;
                                a(href="https://www.theguardian.com/world/2018/aug/09/beyonce-boulevard-dutch-street-signs-pay-tribute-to-women", target="_blank") The Guardian&nbsp;
                                | en &nbsp;
                                a(href="https://www.nrc.nl/nieuws/2018/08/07/en-toen-was-de-amsterdamse-dam-ineens-een-dame-a1612388", target="_blank") NRC.
                    .row.no-margin
                        .col.m1.date 06/2018
                        .col.m9.cv
                            p.title.no-margin-top
                                a(href="www.elanceacademy.nl" target="_blank") Elance Academy -&nbsp;
                                | Consultant
                            p.cv Consultant bij Elance Academy. Advies en ondersteuning bij social impact meting,
                                | opschalen, uitbreiden netwerken en vergroten zichtbaarheid.
                    .row.no-margin
                        .col.m1.date 05/2018
                        .col.m9.cv
                            p.title.no-margin-top
                                | Portugal
                            p.cv Gedurende vijf weken werken op boerderijen in Portugal. Geleerd over duurzame landbouw, duurzaam bouwen en zelfvoorzienend leven.
                    .row.no-margin
                        .col.m1.date 04/2018
                        .col.m9.cv
                            p.title.no-margin-top
                                a(href="https://dezwijger.nl/nieuw-amsterdam-raad/", target="_blank") Nieuw Amsterdam Raad -&nbsp;
                                | Lid
                            p.cv De Nieuw Amsterdam Raad is een onafhankelijke adviesraad van 45 Amsterdamse millennials. Als onafhankelijke vertegenwoordiging van een nieuwe generatie Amsterdammers komt de raad een aantal keer per jaar bijeen om stedelijke vraagstukken te agenderen en daarover aanbevelingen te doen aan de gemeenteraad.
                    .row.no-margin
                        .col.m1.date 03/2018
                        .col.m9.cv
                            p.title.no-margin-top
                                a(href="www.dekostgangers.nl" target="_blank") De Kostgangers -&nbsp;
                                | Podcast training
                            p.cv Training in het uitdenken, opnemen en editen van een podcast.
                    .row.no-margin
                        .col.m1.date 09/2017
                        .col.m9.cv
                            p.title.no-margin-top
                                a(href="http://www.debovengrondse.tilda.ws" target="_blank") De Bovengrondse -&nbsp;
                                | Wildplasgate
                            p.cv Samen met Geerte Piening Aandacht genereren voor 'plasongelijkheid' mannen en vrouwen op straat. Zie&nbsp;
                                a(href="http://www.santivandentoorn.com/wildplas.html", target="_blank") hier
                                | de media.
                    .row.no-margin
                        .col.m1.date 2016 - now
                        .col.m9.cv
                            p.title.no-margin-top
                                a(href="https://www.oneworld.nl" target="_blank") OneWorld -&nbsp;
                                | IT Consultant
                            p.cv Ontwikkeling nieuw platform met nieuwe verdienmodellen. Aansturen developers. Modernisering bedrijfsvoering. IT ondersteuning.
            .row
                .col.s12
                    h2 Schrijven
                    table.bordered.highlighted
                        tbody
                            tr
                                td
                                    a(href="https://www.ad.nl/utrecht/meer-sterke-bijzondere-en-slimme-vrouwen-op-utrechtse-straatnaamborden~a3dc3a5b/", target="_blank")
                                        | Meer sterke, bijzondere en slimme vrouwen op Utrechtse straatnaamborden
                                td
                                    a(href="http://www.ad.nl", target="_blank")
                                        | Algemeen Dagblad Utrecht
                                td  Augustus 2018
                            tr
                                td
                                    a(href="https://www.oneworld.nl/mensenrechten/wildplasgate/", target="_blank")
                                        | Rechter 'mansplaint' wildplasser
                                td
                                    a(href="http://www.oneworld.nl", target="_blank")
                                        | OneWorld
                                td  September 2017
                            tr
                                td
                                    a.writing-vileine(href="http://vileine.com/2017/08/21/re-gelukkig-maar-dat-links-zich-bezighoudt-met-randzaken/", target="_blank")
                                        | RE: gelukkig maar, dat links zich bezighoudt met 'randzaken'
                                td
                                    a(href="http://www.vileine.com", target="_blank")
                                        | Vileine
                                td Augustus 2017
                            tr
                                td
                                    a.writing-vileine(href="http://vileine.com/2017/05/01/hallo-meneer-peter-lloyd/", target="_blank")
                                        | Hallo Meneer: Peter Lloyd
                                td
                                    a(href="http://www.vileine.com", target="_blank")
                                        | Vileine
                                td Mei 2017
                            tr
                                td
                                    a.writing-vileine(href="http://vileine.com/2017/04/07/minifesto-wegkijken-van-gelijke-rechten-is-een-vorm-van-privilege/", target="_blank")
                                        | Minifesto: 'Klaar met feminisme' kan dankzij feministen
                                td
                                    a(href="http://www.vileine.com", target="_blank")
                                        | Vileine
                                td April 2017
                            tr
                                td
                                    a.writing-minimalisme(href="http://santivandentoorn.com/Hoe%20Word%20ik%20Minimalist%20-%20OneWorld.pdf", target="_blank")
                                        | Hoe word ik minimalist?
                                td OneWorld Magazine
                                td Maart 2017
                            tr
                                td
                                    a.writing-omgekeerdseksisme(href="https://www.oneworld.nl/love/vrouw-rechten/bewust-op-vrouwen-stemmen-omgekeerd-seksisme", target="blank")
                                        | Is bewust op vrouwen stemmen omgekeerd seksisme?
                                td OneWorld
                                td Maart 2017
                            tr
                                td
                                    a.women-quota(href="https://www.oneworld.nl/waarom-vrouwenquota-een-prima-idee-zijn", target="blank")
                                        | Waarom vrouwenquota een prima idee zijn
                                td OneWorld
                                td Maart 2017

            include includes/footer.jade



        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src="js/main.js")




