html
    head
        script.
            // Google Tag Manager
            (function(w,d,s,l,i){w[l] = w[l] || [];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZ2TJ2');
            //End Google Tag Manager
        title Santi van den Toorn
        // Materialize and Fontawesome
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='styles/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', type='image/png', href='https://postimg.org/image/8c17ifa0f/', sizes='32x32')
        link(rel='icon', type='image/png', href='https://postimg.org/image/m6zi0w4fj/', sizes='16x16')
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WZ2TJ2', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        include includes/nav.jade
        .container
            .row
                .col.s0.m1
                .col.s12.m6.right-align
                    p.heading Santi van den Toorn
                    p.text.no-top-margin Ik ben een idealistisch gemotiveerde analytische denker. IT-geletterd, tech-savvy maar met een grote passie voor het menselijke. Zowel technisch als sociaal opgeleid heb ik een holistische en inclusieve blik op een breed spectrum aan (maatschappelijke) onderwerpen. Ik werk als ZZP’er voor projecten waar ik in geloof en voel een diepe passie voor feminisme (gender), duurzaamheid (water) en persoonlijke ontwikkeling. Ik haal energie uit mensen motiveren en strijden voor waar ik in geloof.
                    | Voor meer informatie lees verder of&nbsp;
                    a#cv-link(href="http://www.santivandentoorn.com/CV_Santi.pdf", target="_blank") bekijk mijn cv.&nbsp;
                    p.social-icons
                        a#linkedin-icon(
                        href='https://nl.linkedin.com/in/santi-van-den-toorn-99378020',
                        target='new'
                        )
                            i.fa.fa-linkedin(aria-hidden='true')
                        a#github-icon(
                        href='https://github.com/santivdt',
                        target='new'
                        )
                            i.fa.fa-github(aria-hidden='true')
                        a#mail-icon(
                        href='mailto:santivdt@gmail.com?subject=I visited your website')
                            i.fa.fa-envelope-o(aria-hidden='true')
                        span.tooltip
                            a#instagram-icon(
                            href='https://www.instagram.com/ikbensanti/',
                            target='_blank'
                            )
                                i.fa.fa-camera-retro(aria-hidden='true')
                        span.tooltip
                            a#cv-icon(
                            href='http://www.santivandentoorn.com/CV_Santi.pdf',
                            target='_blank'
                            )
                                i.fa.fa-file-text-o(aria-hidden='true')
                            span.tooltiptext cv
                .col.s12.m4.img
                    img.photo-santi(src="https://s22.postimg.org/rzsqx2mbl/website1.jpg")


            //SKILLS
            .row
                .col.s12.m5.hide-on-med-and-down
                    img.skills(src="http://www.santivandentoorn.com/img/santi-afrika.jpg")
                    p.caption Foto:&nbsp;
                        a(href="http://www.bartbrouwerphotography.com" target="_blank") Bart Brouwer
                .col.s12.m7
                    h2 Social engineer
                    p.text In mijn bachelor Civiele Techniek aan de TU Delft wekte vooral water en sanitatie mijn interesse. Dit heb ik in mijn master International Development Studies (UvA) gecombineerd met een meer sociale invalshoek; ik onderzocht de
                        a.read-thesis(href="http://www.santivandentoorn.com/thesis-santi-van-den-toorn.pdf" target="_blank") &nbsp; acceptatie van water- en sanitatietechnologiën in sloppenwijken in Zuid-Afrika.
                        | &nbsp;Ik begeef mij graag op het snijvlak van technologie en het sociale en denk over hoe techniek kan bijdragen aan een beter wereld mits juist geïmplementeerd.
            .row
                .col.s12.m7
                    h2 Activist
                    p.text
                    | Als mede-oprichter van &nbsp;
                    a#sov-website(href="http://www.stemopeenvrouw.com" target="_blank") Stichting Stem op een Vrouw &nbsp;
                    | maak ik mij sterk voor emancipatie en representatie van vrouwen in de politiek. Rondom de Tweede Kamerverkiezingen van 2017 wisten wij ruim 1.5 miljoen mensen te bereiken met onze boodschap en werden wij massaal opgepikt door landelijke en lokale media.
                .col.s12.m5.hide-on-med-and-down
                    img.skills(src="http://www.santivandentoorn.com/img/santi-activist.jpg")
                    p.caption Foto:&nbsp;
                        a(href="https://www.instagram.com/dionnecats/" target="_blank") Dionne Cats
            .row
                .col.s12.m5.hide-on-med-and-down
                    img.skills(src="http://www.santivandentoorn.com/img/santi-programmeur.jpg")
                .col.s12.m7
                    h2 IT specialist
                    p.text Ik bouw al sinds ik 11 ben websites. Toen nog in notepad en louter HTML. Ondertussen heb ik ervaring als front-end developer, scrummaster, productowner en als leidinggevende bij grote migratietrajecten . Ik spreek de taal van de programmeurs en van de ‘salesboys’ en ben in staat deze twee vlekkeloos met elkaar te laten communiceren. Ik denk vanuit de gebruiker en vertaal dit naar technische functionaliteiten die programmeurs begrijpen en kunnen bouwen.
                        a(href="http://www.santivandentoorn.com/it") &nbsp;Lees meer over mijn ervaring in de IT.
            .row
                .col.s12.m7
                    h2 Minimalist
                    p.text Altijd een lege inbox, maar 50 kledingstukken en heel veel ruimte in huis. Het minimalisme brengt mij nog steeds elke dag rust, inspiratie en een stressvrij bestaan. Het zorgt ervoor dat ik efficiënt werk, veel ruimte heb voor zaken die ik écht belangrijk vind en minder consumeer. Ik ben gepassioneerd minimalist en vertel graag anderen over de voordelen van een minimalistisch bestaan. Ook ondersteun ik mensen bij hun eigen traject om te kijken hoe zij de basisprincipes van het minimalisme in hun leven kunnen toepassen en wat dit voor hen kan betekenen.&nbsp;
                        a#minimalisme-website(href="http://www.deontspuller.com" target="_blank") Meer weten?
                .col.s12.m5
                    img.skills(src="http://www.santivandentoorn.com/minimalisme/img/minimalist.jpg")
            .row
                .col.s12
                    h2 Schrijven
                    table.bordered.highlighted
                        tbody
                            tr
                                td
                                    a.writing-vileine(href="http://vileine.com/2017/04/07/minifesto-wegkijken-van-gelijke-rechten-is-een-vorm-van-privilege/", target="_blank")
                                        | Minifesto: 'Klaar met feminisme' kan dankzij feministen
                                td
                                    a(href="http://www.vileine.com", target="_blank")
                                        | Vileine
                                td April 2017
                            tr
                                td
                                    a.writing-minimalisme(href="https://blendle.com/getpremium/item/bnl-oneworld528-20170303-143950", target="_blank")
                                        | Hoe word ik minimalist?
                                td OneWorld Magazine
                                td Maart 2017
                            tr
                                td
                                    a.writing-omgekeerdseksisme(href="https://www.oneworld.nl/love/vrouw-rechten/bewust-op-vrouwen-stemmen-omgekeerd-seksisme", target="blank")
                                        | Is bewust op vrouwen stemmen omgekeerd seksisme?
                                td OneWorld
                                td Maart 2017
                            tr
                                td
                                    a.women-quota(href="https://www.oneworld.nl/waarom-vrouwenquota-een-prima-idee-zijn", target="blank")
                                        | Waarom vrouwenquota een prima idee zijn
                                td OneWorld
                                td Maart 2017

            include includes/footer.jade



        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(src="js/main.js")




