html
    head
        script.
            // Google Tag Manager
            (function(w,d,s,l,i){w[l] = w[l] || [];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZ2TJ2');
            //End Google Tag Manager
        title Santi van den Toorn
        // Materialize and Fontawesome
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='styles/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='icon', type='image/png', href='https://postimg.org/image/8c17ifa0f/', sizes='32x32')
        link(rel='icon', type='image/png', href='https://postimg.org/image/m6zi0w4fj/', sizes='16x16')
    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WZ2TJ2', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        .container
            .row
                .col.s0.m1
                .col.s12.m5.right-align
                    p.heading Santi van den Toorn
                    p.text.no-top-margin I am an idealistically motivated analytical thinker, IT literate and tech-savvy but with great passion for people. My educational background is in both engineering and social science, which ensures a holistic view on a wide variety of issues. I work freelance for various projects I believe in and have a strong passion for feminism (gender), sustainability (water) and personal development. I love to motivate people and create opportunities for happiness.
                    | For more information you can&nbsp;
                    a#cv-link(href="http://www.santivandentoorn.com/CV_Santi.pdf", target="_blank") view my cv.&nbsp;
                    p.social-icons
                        a#linkedin-icon(
                        href='https://nl.linkedin.com/in/santi-van-den-toorn-99378020',
                        target='new'
                        )
                            i.fa.fa-linkedin(aria-hidden='true')
                        a#github-icon(
                        href='https://github.com/santivdt',
                        target='new'
                        )
                            i.fa.fa-github(aria-hidden='true')
                        a#mail-icon(
                        href='mailto:santivdt@gmail.com?subject=I visited your website')
                            i.fa.fa-envelope-o(aria-hidden='true')
                        span.tooltip
                            a#instagram-icon(
                            href='https://www.instagram.com/ikbensanti/',
                            target='_blank'
                            )
                                i.fa.fa-camera-retro(aria-hidden='true')
                        span.tooltip
                            a#cv-icon(
                            href='http://www.santivandentoorn.com/CV_Santi.pdf',
                            target='_blank'
                            )
                                i.fa.fa-file-text-o(aria-hidden='true')
                            span.tooltiptext cv
                .col.s12.m5.img
                    img.photo-santi(src="https://s22.postimg.org/rzsqx2mbl/website1.jpg")


            //PROFESSIONAL PROJECTS
            .row
                .col.s12
                    p.heading Professional Projects
            .row.no-margin
                .col.s12.m4
                    .card
                        .card-image.waves-effect.waves-block.waves-light.sov-card.activator
                            img.sov-card.activator(src='https://stemopeenvrouw.com/wp-content/uploads/2017/01/emailsignature-1.png')
                        .card-content
                            span.sov-card.card-title.activator.grey-text.text-darken-4
                                | Stem op een Vrouw
                            p.italic 2017
                            p
                                | Co-founder
                                span.italic
                        .card-reveal
                            span.card-title.grey-text.text-darken-4
                                | Stem op een Vrouw
                                i.material-icons.right close
                            p
                                | With the upcomping Dutch Elections a group of people decided to try and change something for the better; representation in the parliament. In a very short amount of time we set up a national campaign which got quickly picked up by national media. Also I build the website.
                            span.link-partner
                                a#sov-website(href="https://www.stemopeenvrouw.com", target="_blank") Website
                .col.s12.m4
                    .card
                        .card-image.waves-effect.waves-block.waves-light.one-world-card.activator
                            img.one-world-card.activator(src='https://s29.postimg.org/3t8q29g07/image.png')
                        .card-content
                            span.one-world-card.card-title.activator.grey-text.text-darken-4
                                | OneWorld
                            p.italic 2016 - 2017
                            p
                                | Online Coordinator
                                span.italic (Freelance)
                        .card-reveal
                            span.card-title.grey-text.text-darken-4
                                | OneWorld
                                i.material-icons.right close
                            p
                                | At OneWorld my responsibilities involve SEO and Adwords strategies, customer journeys and the automation thereof and the development process of a complete new platform.
                            span.link-partner
                                a#one-world-website(href="https://www.oneworld.nl", target="_blank") Website
                .col.s12.m4
                    .card
                        .card-image.waves-effect.waves-block.waves-light.bleeve-card.activator
                            img.bleeve-card.activator(src='https://s28.postimg.org/h9y0e0wvx/bleeve_logo_1_copy.png')
                        .card-content
                            span.bleeve-card.card-title.activator.grey-text.text-darken-4
                                | Bleeve
                            p.italic 2016
                            p
                                | Front-ender & Scrum master
                        .card-reveal
                            span.card-title.grey-text.text-darken-4
                                | Bleeve
                                i.material-icons.right close
                            p
                                | At Bleeve I was part of the development team. As a front-end developer I worked on the main product (mostly AngularJS, but also ES6, Typescript, SASS and Jade). Later on I fulfilled the role of scrummaster, which ment planning sprints, monitoring progress and spending a lot of time in the issues management system Jira.
                            span.link-partner
                                a#bleeve-website(href="https://www.bleeve.nl", target="_blank") Website

                .col.s12.m4
                    .card
                        .oneplanetcrowd-card.card-image.waves-effect.waves-block.waves-light.activator
                            img.oneplanetcrowd-card.activator(src='https://s24.postimg.org/pyhhgwhrp/logo_share.png')
                        .card-content
                            span.oneplanetcrowd-card.card-title.activator.grey-text.text-darken-4
                                | Oneplanetcrowd
                            p.italic 2015 - 2016
                            p
                                | Platform supervisor
                        .card-reveal
                            span.card-title.grey-text.text-darken-4
                                | Oneplanetcrowd
                                i.material-icons.right close
                            p
                                | As platform supervisor, I was in charge of the development of the product and functioned as first point of contact for customers and users. This entailed functional design, the roadmap, budget, planning and management of the developers. I was also involved in a large-scale integration project of multiple SAAS fintech solutions.
                            span.link-partner
                                a#oneplanetcrowd-website(href="https://www.oneplanetcrowd.com", target="_blank") Website
                .col.s12.m4
                    .card
                        .ttc-card.card-image.waves-effect.waves-block.waves-light.activator
                            img.ttc-card.activator(src='https://s24.postimg.org/lkf5klib9/Ww_P4fg3_X_copy.png')
                        .card-content
                            span.ttc-card.card-title.activator.grey-text.text-darken-4
                                | TTC Mobile
                            p.italic 2012 - 2014
                            p
                                | Functional Analyst
                        .card-reveal
                            span.card-title.grey-text.text-darken-4
                                | TTC Mobile
                                i.material-icons.right close
                            p
                                | Although I started as  the communications intern (why not?) TTC quickly discovered my technical capabilities and soon I was helping out with the development of the platform, troubleshooting new issues and translating requests from program managers in the field (Africa, South America and Asia) to technical requirements for the development team in Uganda. I also assisted in writing various grants and proposals.
                            span.link-partner
                                a#ttc-website(href="http://www.ttcmobile.com", target="_blank") Website

            .row
                .col.s12
                    p.heading Personal Projects
            .row.no-margin
                .col.s12.m4
                    .card
                        .abc-card.card-image.waves-effect.waves-block.waves-light.activator
                            img.abc-card.activator(src='https://s30.postimg.org/ic1krqe75/abc.png')
                        .card-content
                            span.abc-card.card-title.activator.grey-text.text-darken-4
                                | ABC Amsterdam
                            p.italic 2016 - 2017
                            p
                                | Voluntary teaching
                        .card-reveal
                            span.card-title.grey-text.text-darken-4
                                | ABC Amsterdam
                                i.material-icons.right close
                            p
                                | ABC is a foundation that helps isolated women on their way to self-reliance through individual language classes. I am involved as one of their voluntary teachers and teach English to a Ghanaian mother (25) of two.
                            span.link-partner
                                a#abc-website(href="https://www.abcamsterdam.org/", target="_blank") Website
                .col.s12.m4
                    .card
                        .eli-card.card-image.waves-effect.waves-block.waves-light.activator
                            img.eli-card.activator(src='https://s27.postimg.org/iip3xjgoj/oma.jpg')
                        .card-content
                            span.eli-card.card-title.activator.grey-text.text-darken-4
                                | Elisabeth van der Lek
                            p.italic 2016 - 2017
                            p
                                | Website
                        .card-reveal
                            span.card-title.grey-text.text-darken-4
                                | Elisabeth van der Lek
                                i.material-icons.right close
                            p
                                | I developed a simple Wordpress website for my 92 year old Grandmother. She is a painter and wanted to showcase her work online. She has never seen a website herself though and finds it hard to grasp what it is and how it works. When asked for her favourite colour, for the design, she was surprised that websites were in colour.
                            span.link-partner
                                a#eli-website(href="https://www.elisabethvanderlek.nl/", target="_blank") Website
            .row
                .col.s12
                    p.heading Writing
                    table.bordered.highlighted
                        tbody
                            tr
                                td
                                    a.writing-minimalisme(href="https://blendle.com/getpremium/item/bnl-oneworld528-20170303-143950", target="_blank")
                                        | Hoe word ik minimalist?
                                td OneWorld Magazine
                                td Maart 2017
                            tr
                                td
                                    a.writing-omgekeerdseksisme(href="https://www.oneworld.nl/love/vrouw-rechten/bewust-op-vrouwen-stemmen-omgekeerd-seksisme", target="blank")
                                        | Is bewust op vrouwen stemmen omgekeerd seksisme?
                                td OneWorld
                                td Maart 2017
                            tr
                                td
                                    a.women-quota(href="https://www.oneworld.nl/waarom-vrouwenquota-een-prima-idee-zijn", target="blank")
                                        | Waarom vrouwenquota een prima idee zijn
                                td OneWorld
                                td Maart 2017

            .row
                .col.s12.center-align
                    p.text
                        a(href="http://www.santivandentoorn.com/av.pdf", target="_new") Algemene voorwaarden



        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')




